* {
    /*border: 1px solid red;*/
    box-sizing: border-box;
}



/* General styling 
==========================*/
body {
    font-family: 'Helvetica Neue', sans-serif;
}

h1, h3, h4, p, ul {
    width: 65%;
    margin: auto;
    padding-top: 30px;
    text-align: left;
}

/*==========================*/




/* Introduction page styling 
==========================*/
div.introduction h1,
div.introduction h3 {
    color: whitesmoke;
}

div.introduction h4, 
div.introduction p {
    color: #ECF0F1;
}

.icon-down-open-big {
    position: absolute;
    top: 90%;
    left: 50%;
    padding: 5px;
    font-size: 40px;
    color: whitesmoke;
    transition: all 300ms;

}


.icon-down-open-big:hover {
    /*background-color: firebrick;*/
    border-radius: 50px;
    font-size: 55px;
}



/*==========================*/



.section > h1,
.jobTitle,
.resp-header {
    display: block;
    margin: auto;
    text-align: center;
}

.jobDescriptionContainer {
    position: relative;
    top: -100px;
}


.responsibilitiesContainer,
.companyName {
    display: none;
}

a {
    text-decoration: none;
}


img {
    display: block;
    position: relative;
    top: -100px;
    width: 300px;
    margin: auto;
 
}

img.mobads {
    position: relative;
    top: -90px;
}


.social li {
    font-family: 'fontello';
    font-size: 4rem;
    color: white;
    height: 100%;
    margin: auto;
    padding-top: 2rem;
}


.skills ul > li > span {
    font-family: 'fontello';
} 


span.icon-down-open-big {
    
}




/*Media Queries
================*/
@media (min-width: 500px) {
  
    h1, h3, h4, p, ul {
        width: 80%;
        margin: auto;
        padding-top: 30px;
        text-align: left;
    }


    .responsibilitiesContainer{
    display: block;
    }

    .responsibilitiesContainer {
        position: relative;
        top: -100px;
    }


    img {
        display: block;
        margin: auto;
        text-align: center;
    }
    
    img.google2 {
        top: -60px;
    }


}